html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    background-color: #f7f9fc;
}

.btn-contact {
    background-color: #6fbaf8;
    color: white;
}


#header {
    background-color: white;
    padding: 10px 0 10px 0;
    margin: 10px 60px 20px 60px;
}


#main {
      background-color: white;
      padding: 10px 0 10px 0;
      margin: 10px 60px 20px 60px;
      display: none;
      transition: all, 1s;
}

#about, h2 {
    text-align: left;
    padding: 5px 60px 5px 60px;
    text-align: left;
    padding: 5px 60px 5px 60px;
}

.btn-about {
    margin-left: 60px;
    margin-right: 60px;
}

.show {
    display: block;
}

